<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="AmazonProject" value="Browser"></parameter>
  <test thread-count="5" name="AmazonTests">
    <classes>
      <class name="testCases.TC2_LoginToAmazon_Valid"/>
      <class name="testCases.TC3_LoginToAmazon_Invalid"/>
      <class name="testCases.TC4_LoginAndEditProfile"/>
      <class name="testCases.TC5_LoginAndSearch"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
